<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    {{{_sections.stylesheets}}}
  </head>
  <body>

    <div class="background-menuBar">
      <div class="row nav-menu">
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
          <img class="userimg2" src={{foto_perfil}} onclick="location.href='/profile'"></img>
        </div>
        <div class="col-3">
          <div class = "nomePerfil">
            {{nome_perfil}}
          </div>
        </div>
          <div class="col-5">
          <img class="icon-menu" src="/images/Grupo205.png" style="position:relative; right:-110px; bottom:-20px" onclick="location.href='/body'"></img>
          <img class="icon-menu2" src="/images/Grupo24.png" style="position:relative; right:-135px; bottom:-20px" onclick="location.href='/rewards'"></img>
        </div>


      </div>
    </div>

    {{{ body }}}
  </body>
</html>
