<!DOCTYPE html>
 <body>
<html>
  <meta>
    <script src="/javascripts/coach.js"></script>
  </meta>

  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='../../public/stylesheets/css/global.css'> 
    <link rel='stylesheet' href='../../public/stylesheets/css/layouts/styles.css'>
    {{{_sections.stylesheets}}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  
 
    <div class="row nav-coach">
    </div>

    <div class="row row-menu2">
      <div class="col-1"></div>
      <div class="col-3">
        <img class="userimg-coach" src={{foto_perfil}} onclick="location.href='/countdownTraining"></img>
      </div>
       <div class="col-3">
        <div class = "nomePerfil">
          {{!-- {{nome_perfil}} --}}
          Alemão
        </div></div>
        <div class= "coachLayoutcoach">
          <p> Coach </p>
        </div>
     
      <div class="col-3"></div>

      <div class="col-2">
        <div id="sidemenu">
          <div class="toggle-btn" onclick="toggleSidebar()">
          <span class="fas fa-bars" style="font-size: 5em; color: #632467"></span>
          </div>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </div>  
      </div>
    {{{ body }}}
  </body>
</html>
 
