<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/estilos.css'>
    {{{_sections.stylesheets}}}
  </head>
  <body>

    <div class="background-menuBar">
      <div class="row nav-menu">
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
          <img class="userimg" src={{foto_perfil}}></img>
        </div>
        <div class="col-3">
          <div class = "nomePerfil">
            {{nome_perfil}}
          </div>
        </div>
        <div class="col-5">
          <img class="icon-menu" src="/images/Grupo205.png"></img>
          <img class="icon-menu" src="/images/Grupo24.png"></img>
        </div>
      </div>
    </div>

    {{{ body }}}
  </body>
</html>
