<!DOCTYPE html>

<html>

  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    {{{_sections.stylesheets}}}
  </head>
  <body>
    <div class="row nav-coach">
      </div>

    <div class="row row-menu2">
      <div class="col-1"></div>
      <div class="col-3">
        <img class="userimg-coach" src={{foto_perfil}} onclick="location.href='/countdownTraining"></img>
      </div>
      <div class="col-3">
        <div class = "nomePerfil">
          <p> Coach </p>
          {{nome_perfil}}
        </div>
      </div>
      <div class="col-3"></div>

      <div class="col-2">
        <img id="menu-coach" src="/images/Grupo 209@2x.png"></img>
      </div>
    </div>
    {{{ body }}}
  </body>
</html>
