<!DOCTYPE html>

<html>

  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/estilos.css'>
    {{{_sections.stylesheets}}}
  </head>
  <body>
    <div class="row nav-menu">
      </div>

    <div class="row row-menu2">
      <div class="col-1"></div>
      <div class="col-3">
        <img class="userimg-menu2" src={{foto_perfil}}></img>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <img class="growing-bars-menu2" id="img"></img>
      </div>
      <script type="text/javascript">
        if ({{aluno_treinos.Nivel}}=='2'){
          document.getElementById("img").src = "/images/nivel2.png";
        }
      </script>
    </div>
    {{{ body }}}
  </body>
</html>
