<!DOCTYPE html>

<html>

  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/css/global.css'> 
    {{{_sections.stylesheets}}}
  </head>
  <!-- <body>
    <div class="row nav-menu">
      </div>

    <div class="row row-menu2">
      <div class="col-1"></div>
      <div class="col-3">
        <img class="userimg-menu2" src={{foto_perfil}}></img>
      </div>
      <div class="col-6"></div>
      <div class="col-2">
        <img id="seta" src="/images/seta.png" height="75" onclick="location.href='/trainingTypes'"></img>
      </div>
    </div> -->


    <body>

      <div class="background-menuBar">
        <div class="row nav-menu">
        </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="col-3">
            <img class="userimg2" src={{foto_perfil}} onclick="location.href='/profile'"></img>
          </div>
          <div class="col-3">
            <div class = "nomePerfil">
              {{nome_perfil}}
            </div>
          </div>
          <div class="col-3"></div>
            <div class="col-2">
            <img id="seta" src="/images/seta.png" height="75" onclick="location.href='/trainingTypes'"></img>
          </div>


        </div>
      </div>
    {{{ body }}}
  </body>
</html>
