<head>
    <meta charset="utf-8">
    <script src="/javascripts/filemodal1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<!-- Modal -->
<div class="modal fade  id="stimulus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modalstimulus">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="boxRightUpperRadius1">
          {{treinos.Periodizacao}}
        </span>
      </div>
    </div>
  </div>
</div>

<body>
    <div class = "inicial-margin"></div>
    <div class = "row boxRadiusSpot">
        <div class = "col-3"></div>
        <div class = "col-2">
              <button type="button" class="btn btn-primary btnboxRightUpperRadius1" data-toggle="modal" data-target="#stimulus">
                {{treinos.Periodizacao}}
              </button>
        </div>
        <div class = "col-2">
            <button type="button" class="btn btn-primary btnboxRightUpperRadius2" data-toggle="modal" data-target="#stimulus">
                {{treinos.CadeiaExcentrica}}
            </button>
        </div>
        <div class = "col-2">
            <button type="button" class="btn btn-primary btnboxRightUpperRadius2" data-toggle="modal" data-target="#stimulus">
                {{treinos.CadeiaConcentrica}}
            </button>
        </div>
    </div>
    <div class = "row marginTraining">
            <div class="col-md-12 text-center">
                <button class="btntrainingchangeUP btn btn-primary">TREINO SUPERIOR</button>
            </div>
            <div class="col-md-12 text-center">
                <button class="btntrainingchangeDOWN btn btn-primary">TREINO INFERIOR</button>
            </div>
            <div class="col-md-12 text-center">
                <button class="btntrainingchangeDOWN btn btn-primary">RESULTADO</button>
            </div>
    </div>
    <div class = "row">
        <div class = "col-2"></div>
        <div class = "col-3" id = "texto-trainingTypes-1">Janeiro</div>
    </div>
    <div class = "row">
        <div class = "col-1"></div>
        <div class = "col-3">
            <img width=450 height=450 src = "/images/TreinouVezes.png">
        </div>
        <div class = "col-2"></div>
        <div class = "col-6">
            <div class = "row">
                <div class = "col-1"></div>
                <div class = "col-4">
                    <img height=200 src = "/images/Medalinha.png">
                </div>
                <div class = "col-7" id = "texto-trainingTypes-2">
                    Faltam {{aluno_treinos.NumTreinosFaltam}} treinos para você ganhar {{aluno_treinos.PontosNext}} pontos
                </div>
            </div>
            <div class = "row">
                <div class = "col-1"></div>
                <div class = "col-6" id = "texto-trainingTypes-3">
                    {{aluno_treinos.FraseTreino}}
                </div>
            </div>
        </div>
    </div>
</body>
