<html>
<head>
  <meta charset="utf-8">
  <script src="/jquery/jquery.js"></script>
  <script src="/javascripts/trainingTypes.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script language=javascript type="text/javascript">
    monName = new Array ("JANEIRO", "FEVEREIRO", "MARÇO", "ABRIL", "MAIO", "JUNHO", "JULHO", "AGOSTO", "SETEMBRO", "OUTUBRO", "NOVEMBRO", "DEZEMBRO");
    now = new Date;
  </script>
</head>
<body>
  <div class="modal fade"  id="stimulus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div class="fundo"></div>
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <span class="TitleModal ">ESTÍMULO DO MÊS</span>
          <div class="PeriodizacaoTensional" id="PeriodizacaoTensional">
            <span class="boxRightUpperRadius1" id="boxRightUpperRadius1">
              {{treinos.Periodizacao}}
            </span>
            <div class="Tensional" id="Tensional">
              TENSIONAL
            </div>
            <span class="Tensionaltexto" id="Tensionaltexto">
              <p>Maiores cargas</br>Menos repetições(6 a 12)</br>Maiores pausas(1' a 2')</br>Cadência Excêntrica</p>
            </span>
          </div>
          <div class="PeriodizacaoMetabolico" id="PeriodizacaoMetabolico">
            <span class="boxRightUpperRadius3" id="boxRightUpperRadius3">
              {{treinos.Periodizacao}}
            </span>
            <div class="Metabolico" id="Metabolico">
              METABÓLICO
            </div>
            <span class="Metabolicotexto" id="Metabolicotexto">
              <p>Menores cargas</br>Mais repetições (12 a 20)</br>Menores pausas (0 a 1’30’’)</br>Cadência Concêntrica</p>
            </span>
          </div>

          <hr>
          <span class="TitleModal col-1" id="SegundaParte">CADÊNCIA DA SEMANA</span>
          <span class="boxRightUpperRadius2 col-1" id="Excentricabox">
            {{treinos.CadeiaExcentrica}}
          </span>
          <span class="TipodeTreino col-1" id="Excentricatitle">EXCÊNTRICA</span>
          <span class="TextoTreino col-1" id="Excentricatext">
            <p>É a fase do movimento<br>em que freamos o<br>peso/resistência contra<br>a gravidade.<br>É o primeiro número<br>da cadência.</p>
          </span>
          <img src="images/Vector_Smart_Object.png" class="ModalImage">
          <span class="boxRightUpperRadius2 col-1" id="Concentricabox">
            {{treinos.CadeiaConcentrica}}
          </span>
          <span class="TipodeTreino col-1" id="Concentricatitle">CONCÊNTRICA</span>
          <span class="TextoTreino col-1" id="Concentricatext">
          <p>É a fase do movimento<br>em que fazemos força<br>para erguer/puxar/empurrar <br>o peso contra gravidade. <br>É o segundo número <br>da cadência.</p>
        </div>
      </div>
    </div>
  </div>
  <div class = "row boxRadiusSpot">
      <div class = "col-3"></div>
      <div class = "col-2">
            <button type="button" onclick="myFunction()" class="btn btn-primary" data-toggle="modal" data-target="#stimulus" id="tipo">
              {{treinos.Periodizacao}}
            </button>
      </div>
      <div class = "col-2">
          <button type="button" onclick="myFunction()" class="btn btn-primary btnboxRightUpperRadius2" data-toggle="modal" data-target="#stimulus">
              {{treinos.CadeiaExcentrica}}
          </button>
      </div>
      <div class = "col-2">
          <button type="button" onclick="myFunction()" class="btn btn-primary btnboxRightUpperRadius2" data-toggle="modal" data-target="#stimulus">
              {{treinos.CadeiaConcentrica}}
          </button>
      </div>
      <p id="demo"></p>
  </div>
  <div class = "row marginTraining">
          <div class="col-md-12 text-center">
              <button class="btntrainingchangeUP btn " onclick="location.href='/midTrainingSuperior'">TREINO SUPERIOR</button>
          </div>
          <div class="col-md-12 text-center">
              <button class="btntrainingchangeDOWN btn" onclick="location.href='/midTrainingInferior'">TREINO INFERIOR</button>
          </div>
          <div class="col-md-12 text-center">
              <button class="btntrainingchangeDOWN btn">RESULTADO</button>
          </div>
  </div>
  <div class = "row">
      <div class = "col-2"></div>
      <div class = "col-3" id = "texto-trainingTypes-1">
        <script type="text/javascript">
          document.write(monName [now.getMonth()]);
        </script>
      </div>
  </div>
  <div class = "row">
      <div class = "col-1"></div>
      <div class = "col-5 treinoXvezes" id="teste">
        <!-- <img id="0x"  src="/images/0-12.png" height=400 width=400/>
        <img id="1x"  src="/images/1-12.png" height=400 width=400/>
        <img id="2x"  src="/images/2-12.png" height=400 width=400/>
        <img id="3x"  src="/images/3-12.png" height=400 width=400/>
        <img id="4x"  src="/images/4-12.png" height=400 width=400/>
        <img id="5x"  src="/images/5-12.png" height=400 width=400/>
        <img id="6x"  src="/images/6-12.png" height=400 width=400/>
        <img id="7x"  src="/images/7-12.png" height=400 width=400/>
        <img id="8x"  src="/images/8-12.png" height=400 width=400/>
        <img id="9x"  src="/images/9-12.png" height=400 width=400/>
        <img id="10x"  src="/images/10-12.png" height=400 width=400/>
        <img id="11x"  src="/images/11-12.png" height=400 width=400/>
        <img id="12x"  src="/images/12-12.png" height=400 width=400/> -->

      </div>
      <!-- <div class = "col-2"></div> -->
      <div class = "col-4">
          <div class = "row">
              <div class = "col-1"></div>
              <div class = "col-4">
                <img id="medalha" height=200></img>
                <script type="text/javascript">
                  if({{aluno_treinos.NumTreinosFaltam}}=='6')
                    document.getElementById("medalha").src = "/images/Medalinha.png";
                  else if({{aluno_treinos.NumTreinosFaltam}}=='8')
                    document.getElementById("medalha").src = "/images/medalha8.png";
                  else if({{aluno_treinos.NumTreinosFaltam}}=='10')
                    document.getElementById("medalha").src = "/images/medalha10.png";
                  else if({{aluno_treinos.NumTreinosFaltam}}=='12')
                    document.getElementById("medalha").src = "/images/trofeu12.png";
                </script>
              </div>
              <!-- class = "col-12" -->
              <div class="col-12" id = "texto-trainingTypes-2">
                  Faltam {{aluno_treinos.NumTreinosFaltam}} treinos para você ganhar {{aluno_treinos.PontosNext}} pontos
              </div>
          </div>
          <div class = "row">
              <div class = "col-1"></div>
              <div class = "col-15" id = "texto-trainingTypes-3">
                  {{aluno_treinos.FraseTreino}}
              </div>
          </div>
      </div>
  </div>

<script>
var str1 = "{{treinos.Periodizacao}}";
var treinofeitos="{{aluno_treinos.NumTreinosMes}}";
console.log(treinofeitos);
var str2 = "T";
var n = str1.localeCompare(str2);
if(n==0){
$( "#tipo" ).last().addClass( "btnboxRightUpperRadius1" );
}
else{
$( "#tipo" ).last().addClass( "btnboxRightUpperRadius3" );
}
switch(treinofeitos) {
  case '0':
    console.log("entrOU");
    $( ".treinoXvezes" ).last().addClass( "zero" );
    // document.getElementById("0x").style.display = "block";
    // document.getElementById("1x").style.display = "none";
    // document.getElementById("2x").style.display = "none";
    // document.getElementById("3x").style.display = "none";
    // $( "#treinoXvezes" ).prepend($('<img>',{id:'0x',src:"/images/0-12.png"}))
    break;
  default:
    console.log("entrEEEE");
}
</script>

</body>
</html>
